@font-face {
  font-family: "DrukText";
  src: url("../fonts/Druk/Druk-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DrukWide";
  src: url("../fonts/Druk/Druk-Wide.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}